@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --shiki-color-text: theme("colors.white");
    --shiki-token-constant: theme("colors.brand.300");
    --shiki-token-string: theme("colors.brand.300");
    --shiki-token-comment: theme("colors.zinc.500");
    --shiki-token-keyword: theme("colors.sky.300");
    --shiki-token-parameter: theme("colors.pink.300");
    --shiki-token-function: theme("colors.violet.300");
    --shiki-token-string-expression: theme("colors.brand.300");
    --shiki-token-punctuation: theme("colors.zinc.200");

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --sidebar-nav-width: 275px;
  }

  .dark {
    --background: 0 0% 4%;
    --foreground: 0 0% 98%;

    --card: 0 0% 4%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 4%;
    --popover-foreground: 0 0% 98%;

    --primary: 32 100% 50%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 65%;

    --accent: 32 100% 50%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 15%;
    --input: 0 0% 15%;
    --ring: 32 100% 50%;
  }

  html,
  body {
    @apply bg-background text-foreground min-h-screen;
  }

  [inert] ::-webkit-scrollbar {
    display: none;
  }

  #sidebar::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  #sidebar::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }
}

/* Shadcn */
@layer base {
  * {
    @apply border-border;
  }
}

@layer utilities {
  .animation-delay-200 {
    animation-delay: 0.2s;
  }

  .animation-delay-400 {
    animation-delay: 0.4s;
  }
}

.circle {
  @apply relative top-[-1px] mx-[2px] h-[5px] w-[5px] rounded-full bg-gray-500;
}
