@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --shiki-color-text: theme("colors.white");
    --shiki-token-constant: theme("colors.brand.300");
    --shiki-token-string: theme("colors.brand.300");
    --shiki-token-comment: theme("colors.zinc.500");
    --shiki-token-keyword: theme("colors.sky.300");
    --shiki-token-parameter: theme("colors.pink.300");
    --shiki-token-function: theme("colors.violet.300");
    --shiki-token-string-expression: theme("colors.brand.300");
    --shiki-token-punctuation: theme("colors.zinc.200");

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --sidebar-nav-width: 275px;
  }

  .dark {
    --background-000: 0 0% 12%;
    --background-100: 0 0% 9%;
    --background-200: 0 0% 6%;
    --background-300: 0 0% 3%;
    --background-400: 0 0% 1%;
    --background-500: 0 0% 0%;

    --border-000: 0 0% 20%;
    --border-100: 0 0% 18%;
    --border-200: 0 0% 15%;
    --border-300: 0 0% 12%;
    --border-400: 0 0% 10%;
    --border-500: 0 0% 8%;

    --primary-000: 32 100% 55%;
    --primary-100: 30 100% 50%;
    --primary-200: 28 100% 45%;
    --primary-300: 26 100% 40%;
    --primary-400: 24 100% 35%;
    --primary-500: 22 100% 30%;

    --primary-foreground: 0 0% 98%;

    --foreground: 0 0% 98%;

    --card: 0 0% 4%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 4%;
    --popover-foreground: 0 0% 98%;
    --secondary: 0 0% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 10%;
    --muted-foreground: 0 0% 45%;

    --accent: 32 100% 50%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --input: 0 0% 15%;
    --ring: 32 100% 50%;
  }

  html,
  body {
    @apply min-h-screen bg-gradient-to-b from-background-200 to-background-300 text-foreground;
  }

  [inert] ::-webkit-scrollbar {
    display: none;
  }

  #sidebar::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  #sidebar::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }
}

/* Shadcn */
@layer base {
  * {
    @apply border-border;
  }
}

@layer utilities {
  .animation-delay-200 {
    animation-delay: 0.2s;
  }

  .animation-delay-400 {
    animation-delay: 0.4s;
  }
}

.circle {
  @apply relative top-[-1px] mx-[2px] h-[5px] w-[5px] rounded-full bg-gray-500;
}
